{include file="header.html"}
{include file="calendar_js.html"}
<H1>{$layout.pagetitle}</H1>
<P><FORM METHOD="POST" ACTION="?m=stckreceivenoteedit&id={$receivenoteedit.id}" NAME="receivenoteedit">
<INPUT type="submit" class="hiddenbtn">
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR CLASS="DARK" COLSPAN="2">
		<TD WIDTH="1%" CLASS="fleftu" NOWRAP>
			<IMG SRC="img/stck.png" ALT="">
			<B>{t}Supplier:{/t}</B>
		</TD>
		<TD CLASS="frightu">
			<INPUT TYPE="TEXT" SIZE="23" NAME="receivenoteedit[sname]" VALUE="{$receivenoteedit.sname|escape}" ID="sinput" {tip trigger="supplier" bold=1}>
			<INPUT TYPE="hidden" NAME="receivenoteedit[supplierid]" VALUE="{$receivenoteedit.supplierid}">
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="fleft" NOWRAP>
			<IMG SRC="img/serialnumber.gif" ALT="">
			<B>{t}Document number:{/t}</B>
		</TD>
		<TD CLASS="fright">
			<input type="TEXT" name="receivenoteedit[number]" value="{$receivenoteedit.number}" {tip trigger="number"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="fleft" NOWRAP>
			<IMG SRC="img/calendar.gif" ALT="">
			<B>{t}Settlement date:{/t}</B>
		</TD>
		<TD CLASS="fright">
			<input type="TEXT" name="receivenoteedit[datesettlement]" value="{$receivenoteedit.datesettlement|date_format: "%Y/%m/%d"}" onclick="cal3.popup();" size="10"{tip trigger="datesettlement"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="fleft" NOWRAP>
			<IMG SRC="img/calendar.gif" ALT="">
			<B>{t}Sale date:{/t}</B>
		</TD>
		<TD CLASS="fright">
			<input type="TEXT" name="receivenoteedit[datesale]" value="{$receivenoteedit.datesale|date_format: "%Y/%m/%d"}" onclick="cal4.popup();" size="10"{tip trigger="datesale"}>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="fleft" NOWRAP>
			<IMG SRC="img/calendar.gif" ALT="">
			<B>{t}Deadline:{/t}</B>
		</TD>
		<TD CLASS="fright">
			<input type="TEXT" name="receivenoteedit[deadline]" value="{$receivenoteedit.deadline|date_format: "%Y/%m/%d"}" onclick="cal5.popup();" size="10"{tip trigger="deadline"}>
		</TD>
	</TR>
	<TR CLASS="light">
		<TD WIDTH="1%" CLASS="fleft" NOWRAP>
			<IMG SRC="img/money.gif" ALT="">
			<B>{t}Payment type:{/t}</B>
		</TD>
		<TD CLASS="fright">
			<SELECT name="receivenoteedit[paytype]" {tip text="Select payment type" trigger="paytype"}>
				<OPTION value=""{if !$invoice.paytype} selected{/if}>- {t}default{/t} -</OPTION>
				{foreach from=$_PAYTYPES item=item key=key}
				<OPTION value="{$key}"{if $receivenoteedit.paytype==$key} selected{/if}>{$item}</OPTION>
				{/foreach}
		</SELECT>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD WIDTH="1%" CLASS="fleft" NOWRAP><IMG SRC="img/info1.gif" ALT=""> <B>{t}Comment:{/t}</B></TD>
		<TD CLASS="fright">
		  <TEXTAREA NAME="receivenoteedit[comment]" COLS="60" ROWS="7" {tip text="Enter comment (optional)"}>{$receivenoteedit.comment}</TEXTAREA>
		</TD>
	</TR>
	<TR CLASS="LIGHT">
		<TD width="100%" CLASS="fbottomu" COLSPAN="2" align="right">
			<A HREF="javascript:document.receivenoteedit.submit();" accesskey="s">{t}Submit{/t} <IMG SRC="img/save.gif" ALT=""></A>
			<A HREF="?m=stckreceivenoteinfo&id={$receivenoteedit.id}">{t}Cancel{/t} <IMG SRC="img/cancel.gif" ALT=""></A><BR>
		</TD>
	</TR>
</TABLE>
</FORM></P>
<TABLE WIDTH="100%" CELLPADDING="3">
	<TR>
		<TD WIDTH="100%">
			{include file="stck/stckstocklistbox.html" module="stckreceivenoteedit&id="|cat:$receivenoteedit.id}
		</TD>
	</TR>
</TABLE>
<p>{include file="stck/stckreceivenoteproductaddbox.html"}</p>
<SCRIPT type="text/javascript">
<!--
new AutoSuggest(document.getElementById('receivenoteedit'),document.getElementById('sinput'),'?m=quicksearch&ajax=1&mode=supplier&source=rne&sid={$receivenoteedit.id}&what=',1);
var cal3 = new calendar(document.forms['receivenoteedit'].elements['receivenoteedit[datesettlement]']);
cal3.time_comp = false;
var cal4 = new calendar(document.forms['receivenoteedit'].elements['receivenoteedit[datesale]']);
cal4.time_comp = false;
var cal5 = new calendar(document.forms['receivenoteedit'].elements['receivenoteedit[deadline]']);
cal5.time_comp = false;
document.forms['receivenoteedit'].elements['sinput'].focus();
//-->
</SCRIPT>
{include file="footer.html"}
